.header {
    padding: 30px;
    text-align: left;
    background-color: orangered;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
body{
    margin: 0;
} .content > div {
      padding: 20px;
      margin: 10px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      flex-direction: row;
  }
.main {
    background: lightskyblue;
    width: 100vw;
    height: 70vh;
    float: left;
}
.post {
    width: 5vw;
    height: 5vh;
    background: green;
}
.post title {
    margin: 100px 50px 500px 50px;

}
.logo {
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    width: 10vw;
    height: 5vh;
    background: orange;
    text-decoration-color: black;
}
.navigation {
    margin-left: 80vw;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    width: 10vw;
    height: 5vh;
    background: orange;
    text-decoration-color: black;
}
.nadpis{
    text-align: center;
}
