.header {
    padding: 30px;
    text-align: left;
    background-color: orangered;
    height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
body{
    margin: 0;
} .content > div {
      padding: 20px;
      margin: 10px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      flex-direction: row;
  }
.main {
    background: lightskyblue;
    width: 100vw;
    height: 70vh;
    float: left;
}
.post {
    width: 5vw;
    height: 5vh;
    background: green;
}
.post title {
    margin: 100px 50px 500px 50px;

}
.logo {
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    width: 10vw;
    height: 5vh;
    background: orange;
    text-decoration-color: black;
    font-family: "Comic Sans MS";
}
.navigation {
    margin-left: 80vw;
    margin-top: 5px;
    text-align: center;
    padding: 4px;
    width: 10vw;
    height: 5vh;
    background: orange;
    text-decoration-color: black;
    font-family: "Comic Sans MS";
}
.nadpis{
    text-align: center;
    font-family: "Comic Sans MS";
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 130px;
    height: 70px;
    margin: 10px;
    border: 6px;
    text-align: center;
    line-height: 80px;
    background-color: blue;
    font-family: "Comic Sans MS";
    text-align: center;
}
.contact-item1 {
    background-color: blue;
    font-family: "Comic Sans MS";
}

.contact-item2 {
    background-color: green;
    font-family: "Comic Sans MS";
}

.contact-item3 {
    background-color: red;
    font-family: "Comic Sans MS";
}
.contact-item4 {
    background-color: orange;
    font-family: "Comic Sans MS";
}

.contact-item5 {
    background-color: purple;
    font-family: "Comic Sans MS";
}

.contact-item6 {
    background-color: pink;
    font-family: "Comic Sans MS";
}
.html1{
    background-color: lightskyblue;
}
.html2{
    background-color: grey;
}
.html3{
    background-color: darkorange;
}
p{
    font-family: "Comic Sans MS";
}

